<div class="container mt-4">
  <h2 class="text-center">Espécies</h2>
  <button class="btn btn-primary mb-3" (click)="goToAddEspecie()">Adicionar Nova Espécie</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome Científico</th>
        <th>Nome Popular</th>
        <th>Família</th>
        <th>Origem</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let especie of especies">
        <td>{{ especie.id }}</td>
        <td>{{ especie.nomeCientifico }}</td>
        <td>{{ especie.nomePopular }}</td>
        <td>{{ especie.familia }}</td>
        <td>{{ especie.origem }}</td>
        <td>
          <button class="btn btn-warning" (click)="goToEditEspecie(especie.id)">Editar</button>
          <button class="btn btn-danger ml-2" (click)="deleteEspecie(especie.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
